#move1{
position:absolute;
top: 0;
left:30px;
}

#move2{
position:absolute;
top:0;
left: 110px;
}

#move3{
position: absolute;
top:0;
left: 190px;
}

#move4{
position: absolute;
top:0;
left: 270px;
}

#move5{
position: absolute;
top:0;
left: 350px;
}