#Drop1{
position:absolute;
top: 0;
left:30px;
}

#Drop2{
position:absolute;
top:0;
left: 110px;
}

#Drop3{
position: absolute;
top:0;
left: 190px;
}

#Drop4{
position: absolute;
top:0;
left: 270px;
}
