#one{
position:absolute;
top: 0;
left:30px;
}

#two{
position:absolute;
top:0;
left: 140px;
}

#three{
position: absolute;
top:0;
left: 240px;
}

#four{
position: absolute;
top:0;
left: 345px;
}

#five{
position: absolute;
top:0;
left: 450px;
}